body {
    background-color: #200a52;  /* Azul Ciano */
    font-family: Arial, sans-serif;
    color: #333; /* Texto escuro por padrão */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Bloco central do formulário */
.container {
    text-align: left;
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Título */
.container h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Labels visíveis */
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

/* Campos do formulário */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
}

/* Botão */
button {
    background-color: #0d215a;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #011416;
}

/* Mensagem de sucesso */
.sucesso {
    color: #4CAF50;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}